<!DOCTYPE html>
<html>
    <head>
        <title>Lab 9</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Search Famous Quotes</h1>
        <form action="/quotes">
            <label for="searchTerm">
                Keyword: <input name="searchTerm" type="text" >
            </label>
            <input type='submit' value='Search'>
        </form>
        <script type="text/javascript" src="/scripts.js"></script>
    </body>
</html>